{% extends "layout.html" %}
{% block title %}
HOME
{% endblock %}
{% block link %}
{{super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="starter-template">
  <h1>회원관리</h1>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>No</th>
          <th>아이디</th>
          <th>가입일</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ member.userid }}</td>
          <td>{{ member.created.strftime("%Y-%m-%d %H:%M:%S") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}