{% extends "layout.html" %}
{% block title %}
HOME
{% endblock %}
{% block link %}
{{super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="container marketing">

  <!-- START THE FEATURETTES -->
  <h1>Posts</h1>
  <hr class="featurette-divider">
  {% for board in collection %}
  <div class="row featurette">
    <div class="col-md-7">
      <span class="badge badge-info">{{board.writer}}</span>
      <h2 class="featurette-heading">{{ board.title }} <small class="text-muted">{{board.date | datetime}}</small></h2>
      <p class="lead">{{board.contents}}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="image">
    </div>
  </div>
  <hr class="featurette-divider">
  {% endfor %}

  <a href="{{url_for('board.form')}}" class="btn btn btn-outline-success btn-lg">Write</a>
</div><!-- /.container -->

{% endblock %}