{% extends "layout.html" %}
{% block title %}
HOME
{% endblock %}
{% block link %}
{{super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="container marketing">
  <h1>It is simple Web Site. using the next skills.</h1>
  <ul>
    <li>Docker : 17.05.0-ce</li>
    <li>Python : 2.7.12</li>
    <li>Bootstrap : 4.1.3</li>
    <li>jQuery : 3.3.1</li>
    <li>pymongo : 3.7.2</li>
    <li>Flask : 1.0.2</li>
    <li>Flask-Babel : 0.12.2</li>
    <li>Mongoengine : 0.15.3</li>
    <li>cuid : 0.3</li>
  </ul>

  <h1>What makes?</h1>
  <ul>
    <li>Simple login - just use session</li>
    <li>CRUD Member Collection</li>
    <li>Use Flask-Babel for many languages - but no messages</li>
    <li>Bootstrap4 - use Start Template</li>
    <li>Board - very simple ...</li>
    <li>File upload - just image file</li>
    <li>Rendering image using base64</li>
  </ul>
</div>

{% endblock %}