{% extends "layout.html" %}
{% block title %}
SIGNIN
{% endblock %}
{% block link %}
{{super() }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
  <form id="signinForm" action="signin" method="post" class="form-signin">
    <h2 class="form-signin-heading">Login</h2>
    <label for="userid" class="sr-only">ID : </label>
    <input type="text" id="userid" name="userid" placeholder="ID" class="form-control" required autofocus />
    <br />
    <label for="passwd" class="sr-only">PASSWORD : </label>
    <input type="password" id="passwd" name="passwd" placeholder="PASSWORD" class="form-control" required />
    <br />
    <a href="#" onclick="fncSubmit(); return false;" class="sl-btn blue">Login</a>
    <a href="/auth/signup" class="sl-btn blue">SignUp</a>
  </form>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
<script>
  function fncSubmit() {
      var form = document.getElementById('signinForm');
      var userId = form.userid.value;
      var passWd = form.passwd.value;

      if(userId == ''){
        alert("please ID");
        return false;
      }
      if(passWd == ''){
        alert("please Password");
        return false;
      }
      form.submit();
    }
</script>
{% endblock %}